.filter-card{
  background-color: rgb(37, 35, 35);
}

.food-images img {
  width: 70%;
  height: 100%;
  border-radius: 4%;
}
/* #root{
  background-color: black;
} */
.add-btn {
padding: 5px 10px;
  background-color: #2ad309;
  color: #fff;
  border: none;
 
  border-radius: 7px;
  cursor: pointer;
}

.add-btn:hover{
  background-color: #20ad03;
}

.fo-price{
  color: rgb(247, 8, 8);
  margin-left: 2rem;
  font-size: 1.2rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.res-address{
  color:rgb(247, 247, 5);
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}
.res-item{
  color: #3ef606;
  font-size: 1.2rem;
}

.res-name{
  color: blue;
  font-size: 1.4rem;
  font: bold;
  font-family:cursive;
}
